body, html {
  padding: 0;
  margin: 0; }

div {
  box-sizing: border-box; }

#output {
  padding: 20px; }

.card {
  box-shadow: 0 0 0 1px #323232;
  width: 33%;
  height: 25vh;
  position: relative;
  float: left;
  background: #fff; }
  .card:nth-child(3n) {
    margin-right: 0; }

.side {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  display: table; }
  .side p {
    display: table-cell;
    vertical-align: middle; }

.right, .left {
  height: 100%; }

.right {
  text-align: right;
  right: 0; }

.left {
  vertical-align: middle;
  left: 0; }

.top, .bottom {
  text-align: center;
  width: 100%; }

.top {
  top: 0; }

.bottom {
  bottom: 0; }

.matching {
  color: green;
  text-decoration: underline; }
